<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-8 col-sm-12">
      <img src="/assets/img/about.png" alt="Пермь" width="100%">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 col-sm-12 col-xl-6 text-left">
      <h3>
        Зачем нужен «Атлас»?
      </h3>
      <p>
        Личное восприятие города представляет собой «вторую реальность», но на деле жизнь города строится вокруг
        набора
        этих субъективных представлений и индивидуальных траекторий. В этом случае происходит объективация
        субъективного, которая определяется в науке как вернакуляция.
      </p>
      <p>
        Зафиксировать образы и представления жителей о городской среде, узнать их отношение к территории
        и призван
        наш проект. Таким образом «Атлас» — это особый подход к изучению городского пространства на основе
        эмоционального
        восприятия Перми её жителями.
      </p>
      <p>
        На наш взгляд, это позволит тоньше понимать родной город, взглянуть на него глазами жителей и, возможно,
        скорректировать приоритеты развития территорий, разоблачить переоценённые и выявить недооценённые
        публичные
        места, усилить их городскими сервисами и т.д.
      </p>
      <h4>
        Что сделанно?
      </h4>
      <p>
        В исследовании приняли участие уже порядка 200 пермяков, пройдя анкетирование. А по вопросу о центре
        Перми
        в
        социальных сетях прошло отдельное голосование, в котором участвовало порядка 500 человек. Предварительные
        результаты по данным опроса были презентованы на фестивале «Мосты-2018». Специалисты получили доступ к
        результатам анкетирования, выделили наиболее интересные для себя факты и представили их на дискуссии. В
        мероприятии участвовали представители ключевых вузов города – ПГНИУ, ПНИПУ, ПГГПУ, ВШЭ (Пермь), краеведы
        и
        журналисты.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 col-sm-12 col-xl-6 text-right">
      <button type="button" class="btn btn-primary btn-lg" [routerLink]="['map','CenterSity' ]">Смотреть карту</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xl-6 text-left">
      <h4 class="mb-3">
        Над проектом работали
      </h4>
      <p>
        Идея, тексты, администрирование – <strong>Максим Черепанов</strong>
      </p>
      <p>
        Разработка – <strong>Алексей Степанов</strong>
      </p>
      <p>
        Проект реализуется на некоммерческой основе при поддержке «Общества развития продуктивных инициатив»,
        образовательной программы «PRO POLIS: лаборатория городских изменений» и «Лаборатории социальной рекламы»
        (в рамках проекта «Город с собой»).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 text-right">
      <!-- <button type="button" class="btn btn-primary btn-lg" [routerLink]="['map','CenterSity' ]">Смотреть карту</button> -->
    </div>
  </div>
</div>