h3{
    font-family: Istok Web;
font-style: normal;
font-weight: bold;
line-height: 20px;
font-size: 30px;
margin-top: 32px;
margin-bottom: 24px;
}
h4{
    font-family: Istok Web;
font-style: normal;
font-weight: bold;
line-height: 25px;
font-size: 20px;
margin-top: 32px;
}
.btn{
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px; 
}
