img{
    width: 100%;
}
.h3{
color: #2892D7
}
.row-end{
    background-color: #2892D7;
    height: 8px;
}
.auth-title{
    font-family: Istok Web;
font-style: normal;
font-weight: bold;
line-height: 30px;
font-size: 25px;
text-align: center;
color: #000000;
}