<div class="container">
  <div class="row mt-4 text-center mb-4 justify-content-center">
    <div class="col-12 mb-4">
      <div class="auth-title mb-4">АВТОРИЗАЦИЯ</div>
      <div>Чтобы отправить заявку, пожалуйста, авторизуйтесь</div>
    </div>
    <div class="col-4 login-icon" *ngFor="let loginIcon of loginIcons; let i = index" (click)="clickIcon(loginIcon.iconClick)"
      style="cursor: pointer">
      <svg-icon src="{{loginIcon.iconName}}"></svg-icon>  
    </div>
  </div>
  <div class="row row-end">
  </div>
</div>