<div class="text-left fixed-top mt-5 custom-width">
    <div class="col-2" *ngIf="appSettings.SHOWMENU ">
        <a (click)="appSettings.SHOWMENU =!appSettings.SHOWMENU">
            <fa [name]="'times-circle-o'" [size]="3" style="color:honeydew"></fa>
        </a>
    </div>
    <div class="col-2" *ngIf="!appSettings.SHOWMENU ">
        <a (click)="appSettings.SHOWMENU =!appSettings.SHOWMENU">
            <img src="/assets/img/openMenu.svg" alt="Меню">
        </a>
    </div>
</div>
<!-- <div class="row text-left">
        <div class="col-sm-2">
            !!!!!
        </div>
    </div> -->

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-12 col-md-4 col-lg-3 d-md-block bg-dark overflow" *ngIf="appSettings.SHOWMENU ">
            <nav class="row sidebar">
                <div class="col-12 pt-2 text-center mb-4">
                    <div class="logoImg">
                        <img src="/assets/img/logo.svg" alt="logo">
                        <!-- <fa [name]="'compass'" style="color:#2892D7;" [size]="3"></fa> -->
                    </div>
                    <div class="logoText">
                        <div class="largeText">Атлас</div>
                        <div class="smallText">пермского значимого</div>
                    </div>
                </div>
                <div class="col-12 text-center pt-2 mb-4">
                    <div class="row justify-content-center" *ngIf="!accountService.isAuth()">
                        <div class="col-2 login-icon" *ngFor="let loginIcon of loginIcons; let i = index" (click)="loginIcon.iconClick()"
                            style="cursor: pointer">
                            <svg-icon src="{{loginIcon.iconName}}"></svg-icon>                                             
                            <!-- <fa [name]="loginIcon.iconName" [size]="1"></fa> -->
                        </div>
                    </div>
                    <div class="row" *ngIf="accountService.isAuth()">
                        <div class="col-12">
                                <svg-icon src="{{accountService.getUser().authMethod}}"></svg-icon>  
                            <!-- <fa [name]="accountService.getUser().authMethod" [size]="1"></fa> -->
                            {{accountService.getUser().DisplayName}}
                            <a (click)="accountService.logOut()" class="log-out">Выйти</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="subtitle">
                        <a class="nav-link" [routerLink]="['about' ]" routerLinkActive="active">О проекте</a>
                    </div>
                </div>
                <div class="col-12 sidebar-sticky menu">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3" *ngFor="let menuItem of appSettings.MAPTYPE; let i = index">
                            <!-- Передаешь стили блоку marker -->
                            <div class="marker" [ngStyle]="{'background':menuItem.Color}"></div>
                            <a class="nav-link" [routerLink]="['map',menuItem.Name ]" routerLinkActive="active">{{menuItem.MapQuestion}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-12 append">
                    <a [ngStyle]="{'opacity': getTypeMap()}" (click)="addPlaceUser()"><i class="fa fa-plus-circle"></i>Добавить пометку
                        на карте</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 confidentiality">
                    <div><a href="#">&#169; Конфиденциальность</a></div>
                    <div><a href="#">Условия использования</a></div>
                    <div><a href="#">Условия использования Google Карт</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12 col-md-8 pr-0 pl-0 content">
            <main role="main" class="h-100 w-100" style="overflow: auto;">
                <!-- <div class="row h-100 w-100"> -->
                <div class="h-100 w-100">
                    <router-outlet></router-outlet>
                    <!-- <app-google-map class="h-100 w-100"></app-google-map> -->
                </div>
                <!-- </div> -->
            </main>
        </div>
    </div>
</div>