.overflow {
    overflow: overlay;
}
.sidebar {
    color: #fff;
    font-size: 15px;
}
.sidebar a {
    color: #fff;
}
.sidebar .logoText {
    /*font-weight: bold;*/
    letter-spacing: 0.3em;
    margin-top: 6px;
    font-family: Istok Web;
    font-style: normal;
    line-height: 28px;   
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.sidebar .largeText {
    font-size: 24px;
    text-transform: uppercase;    
    font-weight: bold;
}
.sidebar .smallText{
    margin-top: -5px;    
}
.sidebar .menu {
    margin-top: 26px;
}
.sidebar li{
    position: relative;
}
.sidebar li:hover{
    background: #ccc;
}
/* .sidebar li.red:before {
    background: red;
} */
/* .sidebar li+.orange:hover:before{
    background: #F26600;
} */
/* .sidebar li+.orange:hover{
    background: #F26600;
} */
/* .sidebar li:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
} */
.sidebar li a{
    padding: 0px 15px;
}
.marker {
    position: absolute;
    width: 4px;
    height: 100%;
    background: #fff;
}
.subtitle {
    text-transform: uppercase;
    font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 15px;
letter-spacing: 0.1em;
    /*font-weight: bold;*/
}
.confidentiality{
    line-height: 15px;
    font-size: 12px;
    text-decoration: underline;
    margin: 15px 0;
}
.confidentiality a {
    color: #fff;
}
.confidentiality a:hover {
    color: #ccc;
}
.append {
    margin: 40px 0 45% 0;
}
.append i {
    position: relative;
    top: 5px;
    margin: 0 10px 0 0;
    font-size: 32px;
    color: #2892D7;
}
.append a {
    color: #fff;
    /*font-weight: bold;*/
    font-size: 15px;
    text-decoration: none;
}
.active{
    background-color: #F8A830;
}
@media (max-width: 768px) {
    .custom-width{
        width: 20%
    }
}
@media (min-width: 768px) {
    .custom-width{
        display: none
    }
}
.log-out{
    opacity: 0.5;
    font-size: 12px;
    margin-left: 16px;
}
.content{
    background: rgba(0, 0, 0, 0.15); 
}