img{
    width: 100%;
}
.h3{
color: #2892D7
}
.row-end{
    background-color: #2892D7;
    height: 8px;
}
.title{
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 30px;    
    color: #000000;
    margin-bottom: 10px;
    margin-top: 32px;
}
.sub-title{
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 20px;    
    color: #2892D7;
    margin-bottom: 32px;
}
.content{    
font-style: normal;
font-weight: normal;
line-height: 20px;
font-size: 15px;
color: #000000;
}
.btn{
    font-style: normal;
font-weight: bold;
line-height: 20px;
font-size: 15px;
color: #FFFFFF;
}
.img-title{
    margin-top: 48px;
}