<div class="container">
  <div class="row img-title">
    <div class="col-md-12"><img src="/assets/img/most.png" alt="Пермский мост">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="title">Атлас пермского значимого</div>
      <div class="sub-title">прояви свою Пермь</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 content">
      «Атлас» — это общегородской эксперимент и интерактивная карта Перми, призванная выявить эмоциональное отношение горожан к публичным местам, памятникам, зданиям, административным районам.
    </div>
  </div>
  <div class="row mt-5 mb-4">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-right">
      <button type="button" class="btn btn-primary btn-lg" [routerLink]="['map','CenterSity' ]" (click)="goToMap()">Смотреть карту</button>
    </div>
  </div>
  <div class="row row-end">
  </div>
</div>