<div class="container">
  <form [formGroup]="AddForm">
    <div class="row mt-4 text-left">
      <div class="col-md-12 col-sm-12">
        <div class="h3 text-center">Заявка на добавление нового публичного места</div>
        <div class="h4">Тема: {{thema}}</div>
        <div>{{question}}</div>
      </div>
      <div class="col-md-12 col-sm-12 bt">

        <textarea id="descriptionFrom" class="form-control" formControlName="descriptionFrom" placeholder="Напишите какое место вы хотите добавить и опишите почему"
        formControlName="descriptionFrom"></textarea>
        <div *ngIf="validDescription.invalid && (validDescription.dirty || validDescription.touched)" class="alert alert-danger">
          <div *ngIf="validDescription.errors.required">
            Поле обязательно для заполнения
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-4">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-primary btn-lg" (click)="sendMail(confirmModal)" [disabled]="validDescription.invalid">Отправить</button>
        <button type="button" class="btn btn-secondary btn-lg ml-1" (click)="cancel()">Отмена</button>
      </div>
    </div>
  </form>
  <div class="row row-end">
  </div>
</div>
<ng-template #confirmModal>
    <div class="modal-body text-center">
      <p *ngIf="!sendError">Заявка добавленна</p>
      <p *ngIf="sendError">Ошибка добавления заявки. Попробуйте позже</p>
      <button type="button" class="btn btn-default" (click)="ok()" >Ок</button>
    </div>
  </ng-template>