body {
    height: 100%;
    width: 100%;
    position: absolute;    
    font-family: "Istok Web"; 
    line-height: 20px;
}
.nav-link{
    color: azure;
}
.bg-dark{
    color: azure;
    background-color:#4A4A4E!important
}
.nav-link:hover{
    color:  darkslategrey
}
.logo{
    color: azure
}
a:hover{
    cursor: pointer;
}
app-google-map {
    height:100%;
    width: 100%;
}
.modal-custom{
    max-width: 600px;
}