<div class="h-100 w-100" #mapGoogle>
    <input #inputSearch class="controls" type="text" placeholder="Введите место" [hidden]="!isAddPlace || showPanoram">
    <agm-map (mapReady)="onMapReady($event)" [hidden]="showPanoram" [latitude]="centerMap.lat()"
        [longitude]="centerMap.lng()" [zoom]="zoom" [styles]="appSettings.MAPSSTYLE" (mapClick)="mapClicked($event)"
        [streetViewControlOptions]="controlPositionOption" [zoomControlOptions]="zoomControlOptions">
        <div *ngIf="mapType">
            <div *ngFor="let marker of markers; let i = index">
                <agm-marker [label]="getLablemarker(marker)" [latitude]="marker.lat" [longitude]="marker.lng"
                    (markerClick)="markerClick(marker)" [opacity]="0.8">
                    <agm-info-window #infoWindow [latitude]="marker.lat" [longitude]="marker.lng"
                        [isOpen]="marker.isOpenInfoWindow" (infoWindowClose)="infoWindowClose(marker,i)">
                        <content *ngIf="marker.isOpenInfoWindow">
                            <table>
                                <!-- панель управления -->
                                <tr>
                                    <td class="numberOfVotes" [ngStyle]="{'color': marker.color}">
                                        <a (click)=openStreetView(marker) *ngIf="mapType.MapTypeMarker==0">
                                            <fa [name]="'street-view'" style="color:black;" [size]="0.7"></fa>
                                        </a>
                                        {{getLablemarker(marker)}} голосов
                                    </td>
                                    <td *ngIf="!marker.docId && mapType.MapTypeMarker==0" class="text-right">
                                        <input type="number" class="input-count-user"
                                            [(ngModel)]="marker.countAddUserSelect" min="0">
                                        <a (click)=addNewPlace(marker)>
                                            <svg-icon src="/assets/plus.svg"
                                                [svgStyle]="{'fill':marker.color,'stroke':marker.color}"
                                                tooltip="Добавить это место" container="body"></svg-icon>
                                            <!-- <fa [name]="'plus-square-o'" style="color:green;" [size]="2" tooltip="Добавить это место"
                                            container="body"></fa> -->
                                        </a>
                                    </td>
                                    <td *ngIf="mapType.MapTypeMarker==1 || (marker.docId && mapType.MapTypeMarker==0)"
                                        class="text-right">
                                        <!-- Управление для круга -->
                                        <div *ngIf="mapType.MapTypeMarker==0">
                                            <!-- редактирование названия и описания -->
                                            <a (click)="removeMarker(marker,i)"
                                                *ngIf="accountService.getUser().IsAdmin && !marker.isEdit" class="mr-1">
                                                <fa [name]="'trash-o'" [ngStyle]="{'color':marker.color}" [size]="2"
                                                    tooltip="Удалить" container="body"></fa>
                                            </a>
                                            <a (click)="marker.isEdit=true"
                                                *ngIf="accountService.getUser().IsAdmin && !marker.isEdit">
                                                <fa [name]="'pencil-square-o'" [ngStyle]="{'color':marker.color}"
                                                    [size]="2" tooltip="Редактировать" container="body"></fa>
                                            </a>
                                            <a (click)="saveEditMarker(marker)"
                                                *ngIf="accountService.getUser().IsAdmin && marker.isEdit">
                                                <fa [name]="'floppy-o'" [ngStyle]="{'color':marker.color}" [size]="2"
                                                    tooltip="Сохранить" container="body"></fa>
                                            </a>
                                            <!--  -->
                                            <a (click)=clickedAddSenderPlace(marker) *ngIf="isActiveAddSender(marker)">
                                                <svg-icon src="/assets/plus.svg"
                                                    [svgStyle]="{'fill':marker.color,'stroke':marker.color}"
                                                    tooltip="Солидарен" container="body"></svg-icon>

                                            </a>
                                            <fa *ngIf="!isActiveAddSender(marker)" [name]="'plus-square-o'"
                                                style="color:grey;" [size]="2" tooltip="Вы уже проголосовали"
                                                container="body"></fa>
                                        </div>
                                        <!-- Управление для полигона -->
                                        <div *ngIf="mapType.MapTypeMarker==1">
                                            <div *ngIf="isActiveAddSenderPlygon(marker)">
                                                <a (click)=clickedAddSenderDistrict(marker,true)>
                                                    <svg-icon src="/assets/plus.svg"
                                                        [svgStyle]="{'fill':'green','stroke':'green'}"
                                                        tooltip="{{mapType.MarkerTypes[0].PositivTooltip}}"
                                                        container="body"></svg-icon>

                                                </a>
                                                <a (click)=clickedAddSenderDistrict(marker,false) class="ml-2">
                                                    <svg-icon src="/assets/minus.svg"
                                                        [svgStyle]="{'fill':'red','stroke':'red'}"
                                                        tooltip="{{mapType.MarkerTypes[0].NegativTooltip}}"
                                                        container="body"></svg-icon>

                                                </a>
                                            </div>
                                            <div *ngIf="!isActiveAddSenderPlygon(marker)">
                                                <a>
                                                    <svg-icon src="/assets/plus.svg"
                                                        [svgStyle]="{'fill':'#88788C','stroke':'#88788C'}"
                                                        tooltip="Вы уже проголосовали" container="body"></svg-icon>

                                                </a>
                                                <a class="ml-2">
                                                    <svg-icon src="/assets/minus.svg"
                                                        [svgStyle]="{'fill':'#88788C','stroke':'#88788C'}"
                                                        tooltip="Вы уже проголосовали" container="body"></svg-icon>

                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Заголовок -->
                                <tr class="titleMarker">
                                    <td colspan="2">
                                        <div *ngIf="mapType.MapTypeMarker==1">{{marker.contentInfoWindowDistrict}}</div>
                                        <div *ngIf="marker.docId && mapType.MapTypeMarker==0">
                                            <div *ngIf="!marker.isEdit">
                                                {{marker.name}}
                                            </div>
                                            <div *ngIf="marker.isEdit"><input [(ngModel)]="marker.name"
                                                    placeholder="Название" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Описание -->
                                <tr class="contentMarker">
                                    <td colspan="2" *ngIf="mapType.MapTypeMarker==0">
                                        <div *ngIf="!marker.isEdit" [innerHTML]="marker.description"></div>
                                        <div *ngIf="marker.isEdit"><textarea [(ngModel)]="marker.description"
                                                class="form-control" placeholder="Описание"></textarea>
                                        </div>
                                    </td>
                                    <td colspan="2" *ngIf="mapType.MapTypeMarker==1">
                                        <table style="width: 200px;" class="poligon-content">
                                            <tr *ngFor="let statUsers of getStatisticsUserSelect(marker.selectUsers); let i = index"
                                                [ngStyle]="{'color':statUsers.color}">
                                                <td>{{statUsers.label}}</td>
                                                <td class="text-center">{{statUsers.count}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </content>
                    </agm-info-window>
                </agm-marker>
                <!-- если тип карты маркер -->
                <div *ngIf="mapType.MapTypeMarker==0">
                    <agm-circle [radius]="getRadiusMarker(marker)" [fillColor]="marker.color" [latitude]="marker.lat"
                        [fillOpacity]="0.4" [longitude]="marker.lng"
                        (circleClick)="marker.isOpenInfoWindow=!marker.isOpenInfoWindow">
                    </agm-circle>
                </div>
                <!-- если тип карты полигон -->
                <div *ngIf="mapType.MapTypeMarker==1">
                    <agm-polygon [paths]="marker.districtPolygons" [fillColor]="getColorDistrict(marker)"
                        [strokeColor]="getColorDistrict(marker)" [fillOpacity]="getOpacityDistrict(marker)"
                        (polyClick)="marker.isOpenInfoWindow=!marker.isOpenInfoWindow">
                    </agm-polygon>
                </div>
            </div>
        </div>
    </agm-map>
    <div id="pano" class="h-100 w-100" [hidden]="!showPanoram"></div>
</div>

<div class="helper fixed-bottom custom-width text-left bg-dark pl-4 pr-4"
    *ngIf="(isWindowMobile() && !appSettings.SHOWMENU && mapType!=null && showDescription) || !isWindowMobile()">
    <div class="colorIndicator">
        <div *ngFor="let markerType of getLegendMarker()" (click)="selectAddPlaceType(markerType)" class="legend-info">
            <span class="legendMarker" [ngStyle]="{'background-color': markerType.Color}">
            </span>
            {{markerType.Caption}}
        </div>
    </div>

    <div class="bottom-header">
        <a (click)=activateAddNewPlace()
            *ngIf="accountService.getUser().IsAdmin && mapType.MapTypeMarker==0 && !isAddPlace">
            <fa [name]="'plus-circle'" style="color:green;" [size]="1" tooltip="Добавить новые места" container="body">
            </fa>
        </a>
        <a (click)=activateAddNewPlace()
            *ngIf="accountService.getUser().IsAdmin && mapType.MapTypeMarker==0 && isAddPlace">
            <fa [name]="'check-circle'" style="color:green;" [size]="1" tooltip="Пименить" container="body"></fa>
        </a>
        {{mapType.MapDesriptionCaption}}
    </div>
    {{mapType.MapDescription}}
</div>