agm-map {
    height:100%;
    width: 100%;
}
div#content {
    width: 100%; height: 100%;
}
.hint{
    position: absolute;
    width: 50%;
    bottom: 15px;
    right: 50px;
}
.legendMarker{
     width: 50px;
     height: 10px;
     display: inline-flex;
}
.helper {
    padding: 24px 0;
    font-size: 14px;
}
 .colorIndicator {
    margin-bottom: 28px;
    font-weight: bold;
} 
.helper h5{
    margin: 15px 0;
}
.numberOfVotes {
    float: left;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    margin: 0 30px 0 0;
    font-family: "Istok Web"; 
    line-height: 20px;
}
.subtitleMarker {
    min-height: 30px;
} 
.titleMarker >td {
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Istok Web"; 
    padding-top: 11px;
} 
.contentMarker {
    line-height: 20px;
    font-size: 15px;
} 
.custom-width{
    left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.legend-info{
    display: -webkit-inline-box;
}
@media (max-width: 768px) {
    .custom-width{
        width: 100%
    }
    .legend-info{
        width: 50%;
    }
}
@media (min-width: 768px) AND (max-width: 960px) {
    .custom-width{
        width: 60%
    }
    .legend-info{
        width: 50%
    }
}
@media  (min-width: 960px){
    .custom-width{
        width: 40%
    }
}
@media  (min-width: 960px) AND (max-width: 1500px) {  
    .legend-info{
        width: 50%
    }
}
@media  (min-width: 1500px) {
    .legend-info{
        width: 33%
    }
}
.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    position: fixed;
    z-index: 1;
  }
  .input-count-user{
    width: 35px;
    height: 23px;
    margin-right: 9px;
  }
  .bottom-header{
    font-family: Istok Web;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .poligon-content{
    font-family: Istok Web;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    margin-top: 21px;
  }